@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #f8f8f8;
    padding: 1rem;
}

main {
    flex-grow: 1;
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-family: 'Armstrong', cursive;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: black;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #333;
    margin-bottom: 1.5rem;
}

.step {
    border-bottom: 1px solid #ddd;
    padding: 1.5rem 0;
    text-align: left;
}

.step h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.step p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #666;
    margin-bottom: 1rem;
    text-align: left;
}

.step a {
    font-weight: 700;
    font-size: 1.1rem;
    color: #007bff;
    text-decoration: none;
}

.step a:hover {
    color: #0056b3;
}

footer {
    background-color: #f8f8f8;
    padding: 1rem;
    text-align: center;
}

.footer-links {
    margin-top: 0.5rem;
}

.footer-links a {
    margin: 0 0.5rem;
    color: #333;
    text-decoration: none;
}

footer p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

#learning-path{
    margin: auto;
}

#learning-path li{
    border: 2px solid grey;
    margin:20px;
    border-radius: 10px;
    list-style: none;
    width:900px;
    padding: 15px;
    margin-left: -103px;
}

#learning-path li:hover{
    background-color: #f8f8f8;
    cursor: pointer;
}

#learning-path ul{
    list-style: none;
}

.logo span{
    color: red;
}
